{% load static %}
<html>

<head>
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/login/asset/images/man.ico' %}">
    <title>Cetak Daftar Karyawan</title>
    <style type="text/css">
        table {
            font-size: 17px;
            border-collapse: collapse;
            width: 100%;
            margin: 0 auto;
        }

        table th {
            border: 1px solid #000;
            padding: 7px;
            font-weight: bold;
            text-align: center;
        }

        table td {
            border: 1px solid #000;
            padding: 7px;
            vertical-align: top;
        }
    </style>
</head>

<body onload="window.print();setTimeout(window.close, 0);">
    <img class="" style="float: left; width: 100px; height: 100px; margin-right: -100px;" src="{% static 'login/assets/img/logo.png' %}">
    <h3 style="text-align:center">LAPORAN DATA PEGAWAI<br>MADRASAH ALIYAH NEGERI 1<br>
        KOTA BENGKULU<br>
        <FONT SIZE="3"><I>Jl. Cimanuk, Padang Harapan, Kec. Gading Cemp.,<br> Kota Bengkulu, Bengkulu 38225 <br> Telp/Fax: (0736) 21854</FONT>
    </h3>

    </h3>

    <hr>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="basic-datatable">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nama</th>
                <th>NIP</th>
                <th>Pangkat/Golongan</th>
                <th>Jabatan</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for karyawan in semua %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                                <td>{{ karyawan.nama }}</td>
                                <td>{{ karyawan.nip }}</td>
                                <td>
                                    {{karyawan.pangkat_atau_golongan}}
                                </td>

                                <td>
                                   {{karyawan.jabatan}}
                                </td>
                    </tr>
                {% endfor %}
            </tr>
        </tbody>

    </table>
    <h3 style="text-align:right">
        <p>Bengkulu,<span id="datetime"></span></p>

        <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
        </script>


</body>

</html>