{% extends 'admin/base/base.html' %}

{% block title %}Laporan pengembalian{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Laporan</a></li>
                            <li class="active">List Pengembalian</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if messages %}
{%for message in messages%}
<div class="breadcrumbs">
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock breadcrumbs %}



{% block content %}
<form action="{%url 'cetak_pengembalian'%}" method="GET" target='_blank' enctype="multipart/form-data">
    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm" style="color: aliceblue;"><i
        class="fa fa-print fa-sm text-white-50"></i> Cetak semua</button>

        <a data-toggle="modal" data-target="#myModalCetak"
                        class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm" style="color: aliceblue;"><i
                            class="fa fa-print fa-sm text-white-50"></i> Cetak Perbulan</a>
</form>
<br>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">List Pengembalian</h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table " id="coba">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Kode peminjaman</th>
                                <th>NIP pengembali</th>
                                <th>Nama pengembali</th>
                                <th>Status</th>
                                <th>Keterangan</th>
                                <th>Tanggal kembali</th>
                                <th class="serial">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for kembali in semua_kembali %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{kembali.kode_pinjam}}</td>
                                <td>{{ kembali.nip_pengembali}}</td>
                                <td>{{ kembali.nama_pengembali }}</td>
                                <td>
                                    {% if kembali.status_pengembalian == "Dikembalikan" %}
                                    <span class="badge badge-complete">Sudah Di kembalikan</span>
                                    {% else %}
                                    <span class="badge badge-dark">Tidak DI Ketahui</span>
                                    {% endif %}
                                </td>
                                <td>{{ kembali.keterangan }}</td>
                                <td>{{ kembali.tanggal_kembali }}</td>
                                <td>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->
</div>

<div class="modal fade" id="myModalCetak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Cetak Bantuan Koperasi</h4>
            </div>
            <form class="form-horizontal" action="{% url 'cetak_filter_pengembalian' %}" target='_blank' method="GET"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">

                    <div class="form-group">
                        <div class="d-flex justify-content-around">
                            <div>
                                <label for="inputEmail3" class=" control-label">Tanggal Awal</label>
                                <input type="date" name="tanggal1" class="form-control" id="inputEmail3"
                                    placeholder="Date" required>
                            </div>

                            <div>
                                <label for="inputEmail3" class=" control-label">Tanggal Akhir</label>
                                <input type="date" name="tanggal2" class="form-control" id="inputEmail3"
                                    placeholder="Date" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" modal-footer">
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-flat" id="simpan">Cetak</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}