html {
  background: url("631.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

/* Login container */
#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  background: rgba(8, 8, 8, 0.8);
  box-shadow: 1px 1px 50px #000;
}

/* Heading */
h1 {
  font-family: "Open Sans Condensed", sans-serif;
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  color: #ddd;
  text-shadow: 3px 3px 10px #000;
}

/* Inputs */
button,
input {
  font-family: "Open Sans Condensed", sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(3, 3, 3, 0.1);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input:focus {
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(3, 3, 3, 0.18);
}

/* Placeholders */
::-webkit-input-placeholder {
  color: #ddd;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  color: #333;
}

/* Link */
button {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  padding: 4px 8px;
  background: rgba(107, 255, 3, 0.3);
}

b {
  font-family: "Open Sans Condensed", sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: red;
  padding: 8px;
  border-radius: 6px;
  border: none;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

button:hover {
  opacity: 0.7;
}

.orange-btn {
  background: rgba(87, 198, 255, 0.5);
}
